@model List<ArticleVm>

<form>
    <label for="articleTitle">Select Article:</label>
    <select id="articleTitle" class="form-control" onchange="GetSelectedArticleContent()">
        <option value="">-- Select Article --</option>
        @foreach (var item in Model)
        {
            <option id="title" value="@item.Title|@item.Content">@item.Title</option>
        }
    </select>

    <div id="articleContentDiv">
        <!-- Content will be displayed here -->
    </div>
</form>

@* onchange="GetSelectedArticleContent()" *@
@*  <table class="table">
    <thead>
        <tr>
            <th class="col">Article</th>
        </tr>
    </thead>

    <tbody>

         @foreach (var item in Model)
        {


        <tr>
                <th scope="row"><a href="#" onclick="GetArticleContent('@item.Title','@item.Content')">@item.Title</a></th>

            </tr>
        }
    </tbody>
</table>  *@